.main-wrapper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 4rem;
	box-sizing: border-box;
}
.top-container {
	background-color: #000d6c;
	color: #ebebeb;
	max-width: 100%;
	text-align: center;
	font-family: 'Fira', sans-serif;
}
.top-row-header {
	padding: 50px 0;
}
.top-row-header h1 {
	font-size: 50px;
	text-transform: uppercase;
	margin: 0;
}
.fa-newspaper {
  color: #c0e8fa;
}
.top-row-header p {
	color: #83d0f3;
	font-size: 1.4rem;
	padding-top: 0;
}
.mid-form-column p,
.mid-data-column p {
	margin-top: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
}
.form-control {
	display: block;
	background-color: #fbfbfb;
	width: 100%;
	margin-bottom: 15px;
}
.mid-data-row {
  width: 100%;
  margin: 0 auto;
}
.mid-data-column {
	/* background-color: #eeeeee; */
	margin: 15px 0;
}
.btn {
	margin-left: 20px;
}
#articlesDisplay {
	background-color:#eeeeee;;
  height: auto;
  padding: 15px;
}
#articlesDisplay p{
	color: #666;
	font-size: 1rem;
	text-align: center;
}
.fa-search-plus, .fa-th {
color: #999;
}
.footer-container {
	text-align: center;
	background-color: #dedede;
  padding: 2rem;
  box-sizing: border-box;
	max-width: 100%;
  margin: 0 auto;
  color: #000d6c;
}
